{% extends "simpleApp/base.html" %}
{% block content %}
{% load static %}

<div class="flex flex-col justify-center">
    <div class="flex items-center justify-around mx-40 mt-20">
    <img src="{% static 'images/battery_3d.svg' %}" alt="" class="w-[150.0px]">
        <h1 class="text-white text-7xl text-bold shadow-teal-400 font-poppins">ChargeSwap</h1>
    </div>

    <!-- make a get started button -->
    <div class="flex items-center justify-center">
        <button type="button" class="py-3 px-4 mt-2 bg-blue-gradient shadow-lg shadow-teal-500/50 font-poppins font-medium text-lg text-gradient rounded-lg text-primary outline-none rounded">Get Started</button>
    </div>
</div>

{% endblock %}
