{% extends "simpleApp/base.html" %}
{% block content %}
{% load static %}


<div class="w-full">

    <div class="w-full my-4 flex items-stretch justify-center">
       <div class="flex"><img
        class="w-[30px] h-[30px]"
        alt=""
        src="{% static 'images/icon.svg' %}"
      /></div>
      <div
      class="text-white font-semibold inline-block"
    >
      ChargeSwap
    </div>
    </div>

    <div class="flex h-[382px] my-auto flex-col items-center justify-center">
        <p class="text-3xl font-semibold text-white">What do you want to do?</p>
        <div class="">
            <button type="button" class="mx-2 py-3 px-4 mt-4 bg-blue-gradient font-poppins font-medium text-lg text-gradient rounded-lg text-primary outline-none rounded">Scan the battery Card</button>
            <button type="button" class="mx-2 py-3 px-4 mt-4 bg-blue-gradient font-poppins font-medium text-lg text-gradient rounded-lg text-primary outline-none rounded">View All batteries</button>    
        </div>


    </div>

</div>

{% endblock %}